PIDtable= % File path to .csv of participant IDs
RepoDir= % Directory containing the scripts of this repository
MainDir= % Directory where preprocessing files are saved
ReadDir= % Directory where the raw (not cleaned or preprecessed) EEG files are located
ChanLocs= % File path to .ced channel locations file
AMICADir= % Directory where AMICA step will be performed - NOTE: Must NOT contain spaces in the path !
ICLabDir= % Location of ICLabel\viewprops\ because Matlab was complaining about this funtion not being on the path
ICAInterpDir= % Location of ICA interp function, explicitly added to the path to avoid Matlab complaining
ExpDir= % Directory to export cleaned EEG to
